# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-mini
AZURE_OPENAI_EMBED_DEPLOYMENT=text-embedding-3-small

# Azure AI Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_KEY=
AZURE_SEARCH_INDEX=cbt-rag-index


# Azure AI Content Safety
AZURE_CONTENT_SAFETY_ENDPOINT=
AZURE_CONTENT_SAFETY_KEY=

CONTENT_SAFETY_ENDPOINT=
CONTENT_SAFETY_KEY=

# Azure CosmosDB
COSMOS_ENDPOINT=
COSMOS_KEY=
PROFILE_REPOSITORY=cosmos
PROFILE_DATABASE=cbt-db
PROFILE_CONTAINER=user_profiles

# Kakao API
KAKAO_REST_API_KEY=

# 로그인/설문조사 기능 구현 후, streamlit 테스트용
BACKEND_URL=http://localhost:8001
GATEWAY_API_KEY= 

